@font-face {
  font-family: "Ben Brown";
  src:url("BENBROWN.woff") format("woff"),
      url("BENBROWN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dosis Light";
  src:url("Dosis-Light.eot?") format("eot"),
      url("Dosis-Light.woff") format("woff");
      font-weight: normal;
      font-style: normal;
  }
