---
---
<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Wojciech Latawiec - portfolio filmowe, Kraków</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="filmowanie, portfolio, kamerzysta, movie, film, nagrywanie, fotograf, zdjęcia, recording, video, color, grading, postproduction, kraków, rabka, cracow, małopolska" />
    <meta name="description" content="Codzienność uchwycona z uważnością, przestaje być zwykła. Zapraszam do obejrzenia moich filmów i fotografii." />
    <meta name="author" content="Wojciech Latawiec" />
    <meta property=”og:title” content=”Wojciech Latawiec - portfolio filmowe” />
    <meta property=”og:type” content=”video” />
    <meta property=”og:image” content=”https://farm1.staticflickr.com/468/32753677975_956301da36_m.jpg” />
    <meta property=”og:image:width” content=”300” />
    <meta property=”og:image:height” content=”300” />
    <meta property=”og:url” content=”https://www.wojciechlatawiec.pl” />
    <meta property=”og:description” content=”Codzienność uchwycona z uważnością, przestaje być zwykła. Zapraszam do obejrzenia moich filmów i fotografii.” />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/jquery.fullPage.css" />
    <link rel="stylesheet" href="assets/css/lity.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fullPage.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="section" id="landingId" data-anchor="home">{% include landing.html %}</div>
      <div class="section" id="portfolioId" data-anchor="portfolio">{% include portfolio.html %}</div>
      <div class="section fp-auto-height" id="contactId" data-anchor="contact">{% include contact.html %}</div>
    </div>
    <script type="text/javascript" src="assets/js/functions.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/lity.js"></script>
  </body>
</html>
