<div class="bgContainer">
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>
          <img style="width: 300px" src="assets/img/sample_thumb.jpg" />
        </a>
</div>
