<div class="fontSizer">
  <div class="contactBg">
    <div class="contactWrapper">
      <p>Aby skontaktować się ze mną napisz pod adres:</p>
      <h2 class="onDesktop">k&#111;ntakt&#64;wo&#106;&#99;ie&#99;hlatawiec&#46;pl</h2>
      <h2 class="onMobile displayNone"><a href='mail&#116;o&#58;%&#54;B&#111;&#37;6E&#116;%61kt&#64;%77&#111;j%63i&#101;&#99;&#104;l&#97;&#37;74&#97;&#119;%&#54;9%6&#53;c&#46;%70%6C'>k&#111;ntakt&#64;wo&#106;&#99;ie&#99;hlatawiec&#46;pl</a></h2>
    </div>
    <div class="mediaWrapper">
      <p>Znajdziesz mnie również na:</p>
      <div class="icons">
        <a href="https://www.youtube.com/channel/UCOL64U2ZzJI-MQcaNHJTHFQ">{% include icons/yt.html %}</a>
        <a href="https://vimeo.com/wlatawiec">{% include icons/vimeo.html %}</a>
        <a href="https://flickr.com/photos/wlatawiec/albums">{% include icons/flickr.html %}</a>
        <!-- <a href="">{% include icons/linked.html %}</a> -->
      </div>
    </div>
    <div class="copyrightWrapper">
      <p>Copyright © 2017 Wojciech Latawiec. All rights reserved.</p>
    </div>
  </div>
</div>
