<div class="fontSizer">
  <div class="contactBg">
    <div class="contactWrapper">
      <p>Aby skontaktować się ze mną napisz pod adres:</p>
      <h2>kontakt@wojciechlatawiec.pl</h2>
    </div>
    <div class="mediaWrapper">
      <p>Znajdziesz mnie również na:</p>
      <div class="icons">
        <a href="https://www.youtube.com/channel/UCOL64U2ZzJI-MQcaNHJTHFQ">{% include icons/yt.html %}</a>
        <a href="https://vimeo.com/wlatawiec">{% include icons/vimeo.html %}</a>
        <a href="https://flickr.com/photos/wlatawiec/albums">{% include icons/flickr.html %}</a>
        <a href="">{% include icons/linked.html %}</a>
      </div>
    </div>
    <div class="copyrightWrapper">
      <p>Copyright © 2017 Wojciech Latawiec. All rights reserved.</p>
    </div>
  </div>
</div>
