  <div class="logoWrapper">
    <a href="#" class="logo">{% include icons/logotyp.html %}</a>
  </div>
  <div class="arrow">
    <a href="#page2">{% include icons/arrow.html %}</a>
  </div>
<video playsinline autoplay muted loop data-keepplaying id="bgvid">
    <source src="{{ site.baseurl }}/assets/video/bg4.mp4" type="video/mp4" />
    <!-- <source src="{{ site.baseurl }}/assets/video/bgr.webm" type="video/webm" /> -->
</video>
<img id="bgimg" class="displayNone" src="assets/img/portfoliobg1.jpg" />
