<section>
  <div class="logoWrapper">
    <div class="logo"><a href="#">{% include icons/logo.html %}</a></div>
      <h2 class="title">Wojciech Latawiec</h2>
  </div>
  <div class="mediaWrapper">
    <p>Filmy, które do tej pory stworzyłem znajdziesz na moich kanałach na:</p>
    <div class="icons">
      <a href="https://www.youtube.com/channel/UCOL64U2ZzJI-MQcaNHJTHFQ">{% include icons/yt.html %}</a>
      <a href="https://vimeo.com/wlatawiec">{% include icons/vimeo.html %}</a>
    </div>
  </div>
  <div class="contactWrapper">
    <p>Aby skontaktować się ze mną napisz na:</p>
    <h2>kontakt@wojciechlatawiec.pl</h2>
  </div>
  <video playsinline autoplay muted loop data-keepplaying id="bgvid">
      <source src="{{ site.baseurl }}/assets/video/bgr.mp4" type="video/mp4" />
      <source src="{{ site.baseurl }}/assets/video/bgr.webm" type="video/webm" />
  </video>
</section>
