<div class="bgContainer">
  <h3>Moje dotychczasowe produkcje:</h3>
  <div class="grid">
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/thumb1.jpg" alt="img02" />
      <figcaption>
        <h2>FILM <span>TAIZE</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
        <a href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>View more</a>
      </figcaption>
    </figure>
  </div>
</div>
