<div class="bgContainer">
  <div class="portfolioHeader">
    <h3>Portfolio</h3>
  </div>
  <div class="grid">
    <figure class="effect-marley">
      <img src="assets/img/taize3.jpg" alt="img02" />
      <figcaption>
        <h2>Taize</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/152803679" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/slavangard2.jpg" alt="img02" />
      <figcaption>
        <h2>Trailer DFF Slavangard 2016</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/181113198" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/ewakacper.jpg" alt="img02" />
      <figcaption>
        <h2>Film ślubny Ewy i Kacpra</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/202678279" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/reko3.jpg" alt="img02" />
      <figcaption>
        <h2>Rekolekcje Vera Icon</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/149827046" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/aj5.jpg" alt="img02" />
      <figcaption>
        <h2>Film ślubny Ani i Jacka</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/202677992" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/drogaSwiatla1.jpg" alt="img02" />
      <figcaption>
        <h2>Akademicka Droga Światła</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/183542893" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/vi.jpg" alt="img02" />
      <figcaption>
        <h2>Vera Icon - Murale</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/133292726" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/beczka.jpg" alt="img02" />
      <figcaption>
        <h2>Trailer DDA "Beczka" 2015/16</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/142117746" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/crac2.jpg" alt="img02" />
      <figcaption>
        <h2>Cracovie</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/126796023" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/majowka2.jpg" alt="img02" />
      <figcaption>
        <h2>Majówka 2016 - DDA "Beczka"</h2>
        <p></p>
        <a class="openLity" href="https://www.youtube.com/watch?v=ElqXwBciy3A" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/prografix2.jpg" alt="img02" />
      <figcaption>
        <h2>Prografix & Vera Icon</h2>
        <p></p>
        <a class="openLity" href="https://vimeo.com/152802448" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/velis.jpg" alt="img02" />
      <figcaption>
        <h2>Velis - Konferencje</h2>
        <p></p>
        <a class="openLity" href="https://www.youtube.com/watch?v=lzO8UqVAixc" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/gh.jpg" alt="img02" />
      <figcaption>
        <h2>Niebanalni - wywiad z Gosią Hutek</h2>
        <p></p>
        <a class="openLity" href="https://www.youtube.com/watch?v=bonLKKVmMcE" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/sdm1.jpg" alt="img02" />
      <figcaption>
        <h2>Noc Świętych Dominikańskich</h2>
        <p></p>
        <a class="openLity" href="https://www.youtube.com/watch?v=uRq72GxZYUY&list=PLfO0EMYnSRaQM81vE719PyIQsbXpatw8_" data-lity>Zobacz</a>
      </figcaption>
    </figure>
    <figure class="effect-marley">
      <img src="assets/img/fastow.jpg" alt="img02" />
      <figcaption>
        <h2>Pokolorujmy dzieciom Fastów</h2>
        <p></p>
        <a class="openLity" href="https://www.youtube.com/watch?v=S3LjKbBzghs" data-lity>Zobacz</a>
      </figcaption>
    </figure>
  </div>
  <div class="showContact"><h3><a href="#contact">Rozwiń kontakt</a></h3></div>
</div>
