*
  box-sizing: border-box
  padding: 0px
  margin: 0px

div#aboutId
  background: url(../img/aboutBg.jpg) center center
  background-size: cover

  .bgContainer
    color: white
    margin: 10px
    margin-top: 100px
    width: auto
    height: 80%
    //border: red solid 3px
