div#portfolioId
  background: url(../img/backgroundTemp1.jpg) center center
  background-size: cover
  padding-bottom: 5px
  //border: red solid 1px

div.aboutBg
  text-align: center

  a
    color: white

    img
      border: white solid 3px

      h1
        text-align: center
        color: white

.aboutBg
  height: 300px

div.contactWrapper
  text-align: center
  margin: 20px
  margin-bottom: 10px

  p
    color: white
    margin: 20px
    font:
      size: 20px

  h2
    font:
      size: 96px
      weight: 400
    color: white
    font-family: $fontHeader
    //border: red solid 1px

div.mediaWrapper
  text-align: center
  margin-top: 10px

  p
    color: white

  div.icons
    margin-top: 20px

    a
      margin-left: 20px
      margin-right: 20px

      &:hover
        path
          fill: #d9d9d9

div.copyrightWrapper
  text-align: center
  margin-top: 10px
  margin-bottom: 0
  //border: red solid 1px

  p
    color: white
    font:
      size: 10px
    margin-bottom: 0
