// *
//   border: red solid 1px

div#contactId
  background: url(../img/backgroundTemp1.jpg) center center
  background-size: cover
  font-size: 1vw
  //border: red solid 1px


div.contactBg
  position: relative
  margin: 0 auto
  max-width: 1200px
  font-size: 1vw

  p
    color: white
    margin-top: 0.5em
    margin-bottom: 0.5em
    font:
      size: 1.5em
    font-family: $fontParagraph
    text-align: center

  div.contactWrapper
    float: left
    width: 100%
    margin: 0 auto

    h2
      font:
        size: 7em
        weight: 400
      color: white
      font-family: $fontHeader
      text-align: center
      //border: red solid 1px

  div.mediaWrapper
    text-align: center
    float: left
    width: 100%
    margin: 0 auto

    p
      margin-top: -0.5em

    div.icons
      margin-top: 0.3em

      svg
        width: 5em
        max-width: 40px

      a
        margin-left: 0.6em
        margin-right: 0.6em
        width: inherit
        height: inherit

        &:hover
          path
            fill: $hoverColor

  div.copyrightWrapper
    text-align: center
    float: left
    width: 100%
    margin: 0 auto
    margin-top: 0.3em
    margin-bottom: 0.1em
    //border: red solid 1px

    p
      color: white
      font:
        size: 1em
      font-family: $fontParagraph

@media screen and (max-width: 720px)
  div.contactBg
    font-size: 10px
