*
  box-sizing: border-box
  padding: 0px
  margin: 0px

header
  height: 150px
  width: 100%
  position: absolute
  z-index: 999

.alpha80
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0)
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0)

  .logo
    margin: 20px
    float: left
    width: 95px
    height: 120px
    filter: grayscale(100%)

    &:hover


nav
  float: right
  margin: 60px 40px 0 0

  a
    color: grey
    display: inline-block
    margin-left: 20px
    font:
      weight: 500
      size: 20px
    text-transform: uppercase

    &:hover
      color: black
