// *
//   border: red solid 1px

#landingId
  text-align: center

.fp-tableCell
  display: block !important
  position: relative

// div.bufferWrapper
//   float: left
//   width: 100%
//   display: block
//   border: blue solid 2px


div.logoWrapper
  text-align: center
  margin: 0 auto
  margin-top: 5%
  padding: 30px
  min-width: 300px
  float: left
  width: 100%

  .logo
    margin: 0 auto
    display: inline-block
    width: 15%
    max-width: 260px
    min-width: 100px

    path
      fill: $mainColor !important

    &:hover
      path
        fill: #d9d9d9

    svg
      width: 100%
      max-width: 260px
      height: inherit
      max-height: 360px

    .titleWrapper
      width: 100%
      float: left

  h2.title
    text-align: center
    font-size: 10vw
    font-weight: 300
    color: white
    font-family: $fontHeader
    margin-top: 0.2em
    margin: auto
    white-space: nowrap
    //border: red solid 1px

div.arrow
  position: fixed
  left: 50%
  bottom: 0
  margin-left: -25px
  max-height: 65px
  max-width: 65px
  animation: myframes 1.5s ease-in-out 0s infinite

  a
    position: absolute
    left: 0
    top: 0
    max-height: 65px
    max-width: 65px

  &:hover
    svg
      fill: $hoverColor

@keyframes myframes
  0%
    margin-bottom: 4em
  50%
    margin-bottom: 7em
  100%
    margin-bottom: 4em

video#bgvid
  position: absolute
  filter: grayscale(100%)
  right: 0
  bottom: 0
  top: 0
  right: 0
  width: 100%
  height: 100%
  background-size: 100% 100%
  background-color: black
  background-position: center center
  object-fit: cover
  z-index: -1
