h1
  text-align: center
  font:
    size: 40px
    weight: 1000
  color: white
  text-transform: uppercase
  clear: both
  padding-top: 100px

  span
    display: inline-block
    padding: 0.5em 0.8em
    border: white solid 10px

.comment
  text-align: center
  font:
    weight: 500
  color: white

video#bgvid
  filter: grayscale(100%)
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  background-size: contain
